@inherits LayoutComponentBase
@using TableTopSim.Client.Components
@inject GlobalData GlobalData
@inject IJSRuntime JSRuntime
@*<div class="sidebar">
        <NavMenu />
    </div>*@

<div class="main">

    <Bar Breakpoint="Breakpoint.Desktop"
         Background="Background.Dark"
         ThemeContrast="ThemeContrast.Dark">
        <BarBrand>
            Table-Top Simulator
        </BarBrand>
        <BarToggler>
        </BarToggler>
        <BarMenu>
            <BarStart>
                <BarItem>
                    <BarLink To="">Home</BarLink>
                </BarItem>
                <BarItem>
                    <BarLink To="/AddGame">Add Game</BarLink>
                </BarItem>
                @*<BarItem>
                        <BarLink To="#docs">Documentation</BarLink>
                    </BarItem>*@
            </BarStart>
            <BarEnd>
                @*<BarItem>
                        <Button Color="Color.Primary">Sign up</Button>
                        <Button Color="Color.Secondary">Log in</Button>
                    </BarItem>*@
            </BarEnd>
        </BarMenu>
    </Bar>
    @*<a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>*@


    <div class="content px-4">
        <MessageModal @ref="modal" IsCentered="true">
            <Heading Size="HeadingSize.Is6" TextColor="TextColor.Dark">@messageModalMessage</Heading>
        </MessageModal>
        @Body
    </div>
</div>

@code{
    MessageModal modal;
    string messageModalMessage;
    protected override void OnInitialized()
    {
        GlobalData.OnShowMessage += ShowMessage;
        BrowserResize.OnResize += OnBrowserResize;
    }
    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeAsync<object>("browserResize.registerResizeCallback");
    }
    void ShowMessage(string message)
    {
        messageModalMessage = message;
        modal.ShowModal();
    }
    async Task OnBrowserResize()
    {
        await GlobalData.BrowserResized();
    }
}
